# API
VITE_API_URL=http://localhost:8080
VITE_AUTH_API=auth

# FRONTEND
VITE_SALON_NAME=Espaço da 60
VITE_WHATSAPP_NUMBER=5521999999999
VITE_PIX_KEY=(21) 99999-9999
VITE_PIX_KEY_TYPE=Telefone
VITE_ADMIN_PASSWORD=admin2024
VITE_CLOSED_DAYS=0           # lista separada por vírgula, ex: 0,6
